# ------------------------------
# 仮想環境
# ------------------------------
.venv/

# ------------------------------
# C++ ビルド関連
# ------------------------------
cpp/pybind/CMakeLists.txt
cpp/pybind/build/

# ------------------------------
# vscodeの設定関連
# ------------------------------
.vscode/

# ------------------------------
# Python キャッシュ
# ------------------------------
__pycache__/

# ------------------------------
# 個人の棋譜・学習済みデータ
# ------------------------------
static/csa/
trained_models/

# ------------------------------
# 自己対局データ
# ------------------------------
self_play_logs/

# ------------------------------
# YaneuraOuエンジン関連
# ------------------------------
YaneuraOu/
YaneuraOu.cpp
YaneuraOu.hpp
